* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

svg {
  width: 100%;
  height: auto;
}
.App {
  display: grid;
  //display: flex;
  //flex-direction: column;
  height: 100vh;
  grid-template-rows: 80px 1fr;
}
.App .navWrapper {
  height: 80px;
}
svg#viz {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-aspect-ratio: 9/5) {
  svg#viz {
    width: auto;
    margin: auto;
    height: 100%;
  }
}
.DrawBox {
  fill: none;
  stroke: black;
  stroke-dasharray: 1px;
  stroke-dashoffset: 1px;
}
body[data-fireworks="true"] {
  svg,
  nav {
    opacity: 0;
  }
}
@keyframes moveDown {
  to {
    transform: translateY(0);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes moveFileToStagingArea {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(300px, -20px) scale(0.4);
  }
}
@keyframes moveFileFromStagingArea {
  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes switchToBigFile {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(3.4) translate(100px, -80px);
  }
}
.navWrapper {
  button[disabled] {
    opacity: 0.3;
  }
}
.levels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  position: absolute;
  transform: translateY(-200px);
  transition: all 0.2s ease-out;
  z-index: 100;
  box-shadow: 0 4px 2px -2px gray;
  width: 100%;
  margin: 0;
  padding: 1rem;
  background: white;
  button {
    border: none;
    background: black;
    color: white;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid white;
    cursor: pointer;
    &:hover:enabled {
      background: white;
      color: black;
      border: 1px solid #000;
    }
  }
  /*.close {
    margin-left: auto;
  }*/
  button[disabled] {
    cursor: unset;
  }
}
.open .levels {
  transform: translateY(0);
}
.up {
  transition: all 0.3s;
}
.open .up {
  transform: rotate(180deg);
}
nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  h2 {
    flex: 1;
  }
  svg {
    height: 100%;
  }
  button {
    all: unset;
    margin: 0 1rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:hover path,
  button:hover circle {
    stroke: rgba(0, 0, 0, 0.4);
  }
  button:active path,
  button:active circle {
    stroke: lightblue;
  }
  button:hover circle {
    stroke-dashoffset: 0;
  }
  .up circle,
  .next circle,
  .prev circle {
    stroke-dasharray: 54px;
    stroke-dashoffset: 54px;
    transition: all 0.4s;
    fill: none;
  }
}

/*

button {
  height: 100px;
  margin: 20px;
  font-size: 2rem;
}


*/

//toggle switch
footer {
  position: absolute;
  margin: 0;
  bottom: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.1s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
