body,
html {
  margin: 0;
  padding: 0;
}
svg {
  width: 100%;
  height: auto;
}
svg#viz {
  display: block;
  height: calc(100vmin - 100px);
  width: auto;

  margin: auto;
}
.DrawBox {
  fill: none;
  stroke: black;
  stroke-dasharray: 1px;
  stroke-dashoffset: 1px;
}

@keyframes moveDown {
  to {
    transform: translateY(0);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes moveFileToStagingArea {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(300px, -20px) scale(0.4);
  }
}
@keyframes moveFileFromStagingArea {
  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes switchToBigFile {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(3.4) translate(100px, -80px);
  }
}
.navWrapper {
  button[disabled] {
    opacity: 0.3;
  }
}
.levels {
  display: flex;
  flex-direction: row;
  li {
    margin-left: 3rem;
  }
  position: absolute;
  transform: translateY(-200px);
  transition: all 0.2s ease-out;
  z-index: 100;
}
.open .levels {
  transform: translateY(0);
}
.up {
  transition: all 0.3s;
}
.open .up {
  transform: rotate(180deg);
}
nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;

  svg {
    height: 100%;
  }
  button {
    all: unset;
    margin: 0 1rem;
  }
  button:hover {
    cursor: pointer;
  }
  button:hover path,
  button:hover circle {
    stroke: rgba(0, 0, 0, 0.4);
  }
  button:active path,
  button:active circle {
    stroke: lightblue;
  }
  button:hover circle {
    stroke-dashoffset: 0;
  }
  circle {
    stroke-dasharray: 54px;
    stroke-dashoffset: 54px;
    transition: all 0.4s;
  }
}

/*

button {
  height: 100px;
  margin: 20px;
  font-size: 2rem;
}


*/
