@import "partials/vars";
[data-parentstate="branchScene"] {
  text.tilted {
    transform: rotate(45deg);
  }
  circle {
    fill: white;
    stroke: black;
    // transform: scale(0);
  }
  line {
    stroke: black;
    //  stroke-dasharray: 100px;
    //  stroke-dashoffset: 100px;
  }
  .stroke0 {
    transition: all 1s;
    //  stroke-dashoffset: 0;
  }
  .drawCircle {
    transition: all 1s;
    transform: scale(1);
  }
  &[data-substate="opening"] {
    #BranchList {
      //opacity: 0;
    }
  }
  #branchOverlay {
    transition: all 2s;
  }
}
