@import "partials/vars";
[data-parentstate="branchScene"] {
  circle {
    fill: white;
    stroke: black;
  }
  line {
    stroke: black;
  }

  .drawCircle {
    transition: all 1s;
    transform: scale(1);
  }

  #branchOverlay {
    transition: all 2s;
  }
  //hide lines not completely covered by overlay
  &[data-substate="master"] {
    line[x1="125"] {
      opacity: 0;
    }
  }
  &[data-substate="feature1"] {
    line[x1="225"] {
      opacity: 0;
    }
  }
  &[data-substate="feature1MergeToMaster"] {
    line[x1="275"] {
      opacity: 0;
    }
  }
}
