@import "partials/vars";
[data-parentstate="overviewScene"] {
  #pushCommandFile1,
  #pushCommandFile2 {
    opacity: 0;
    transform: translate(550px, -20px) scale($fileScale);
  }
  #pullCommandFile1,
  #pullCommandFile2 {
    opacity: 0;
    transform: translate(800px, -20px) scale($fileScale);
  }

  &[data-substate="first"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow,
    .File {
      opacity: 0;
    }
    .TextBox {
      transform: translateY(-100vh);
    }
    .TextBox#workingcopy {
      animation: moveDown $animationDuration forwards ease-out;
    }
    .TextBox#stagingarea {
      animation: moveDown $animationDuration $staggerDelay forwards ease-out;
    }
    .TextBox#localrepository {
      animation: moveDown $animationDuration $staggerDelay * 2 forwards ease-out;
    }
    .TextBox#remoterepository {
      animation: moveDown $animationDuration $staggerDelay * 3 forwards ease-out;
    }
  }
  &[data-substate="drawLocalBox"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow,
    .File {
      opacity: 0;
    }
    #localDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="drawRemoteBox"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow,
    .File {
      opacity: 0;
    }
    #remoteDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="workingArea"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow {
      opacity: 0;
    }
    #workingAreaDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="stagingArea"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow {
      opacity: 0;
    }
    #stagingAreaDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="localRepository"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow {
      opacity: 0;
    }
    #localRepositoryDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="remoteRepository"] {
    .AnnotatedArrow,
    .AnnotatedPolyArrow {
      opacity: 0;
    }
    #remoteRepositoryDrawBox {
      animation: draw 3s forwards;
    }
  }
  &[data-substate="addCommand"] {
    #resetCommand1,
    .AnnotatedArrow#commitCommand,
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .AnnotatedArrow#addCommand {
      transition: all 1s;
      opacity: 1;
    }
  }
  &[data-substate="addCommandMoveFile1"] {
    #resetCommand1,
    .AnnotatedArrow#commitCommand,
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFileLeftBehind3 path:first-child {
      fill: $fileUsedColor;
    }
    .File#addCommandFile3 {
      animation: moveFileToStagingArea $animationDuration forwards;
    }
  }
  &[data-substate="addCommandMoveFile2and3"] {
    #resetCommand1,
    .AnnotatedArrow#commitCommand,
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFileLeftBehind3 path:first-child,
    .File#addCommandFileLeftBehind2 path:first-child,
    .File#addCommandFileLeftBehind1 path:first-child {
      fill: $fileUsedColor;
    }
    .File#addCommandFile3 {
      transform: translate(300px, -20px) scale($fileScale);
    }
    .File#addCommandFile1,
    .File#addCommandFile2 {
      animation: moveFileToStagingArea $animationDuration forwards;
    }
  }
  &[data-substate="addCommandMoveFile3Back"] {
    #resetCommand1,
    .AnnotatedArrow#commitCommand,
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFileLeftBehind3 path:first-child,
    .File#addCommandFileLeftBehind2 path:first-child {
      fill: $fileUsedColor;
    }
    .File#addCommandFile3,
    .File#addCommandFile2,
    .File#addCommandFile1 {
      transform: translate(300px, -20px) scale($fileScale);
    }
    .File#addCommandFile1 {
      animation: moveFileFromStagingArea $animationDuration forwards;
    }
  }
  &[data-substate="commitCommand"] {
    #resetCommand1,
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFileLeftBehind3 path:first-child,
    .File#addCommandFileLeftBehind2 path:first-child {
      transition: all 1s 1s;
      fill: white;
    }
    .File#addCommandFile3,
    .File#addCommandFile2 {
      transition: all $animationDuration * 3;
      transform: translate(550px, -20px) scale($fileScale);
    }
  }
  &[data-substate="resetCommand"] {
    .AnnotatedArrow#pushCommand,
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFile3,
    .File#addCommandFile2 {
      transform: translate(550px, -20px) scale(0.4);
    }
  }
  &[data-substate="pushCommand"] {
    .AnnotatedArrow#pullCommand {
      opacity: 0;
    }
    .File#addCommandFile3,
    .File#addCommandFile2 {
      transform: translate(550px, -20px) scale(0.4);
    }
    .File#pushCommandFile1,
    .File#pushCommandFile2 {
      opacity: 1;
      transition: transform 1s 1s;
      transform: translate(800px, -20px) scale(0.4);
    }
  }
  &[data-substate="pullCommand"] {
    .File#addCommandFile3,
    .File#addCommandFile2 {
      transform: translate(550px, -20px) scale(0.4);
      transition: all 1s;
    }
    .File#pushCommandFile1,
    .File#pushCommandFile2 {
      opacity: 1;
      transform: translate(800px, -20px) scale(0.4);
    }
    .File#addCommandFile3,
    .File#addCommandFile2 {
      transform: translate(550px, -20px) scale(0);
    }
    .File#pushCommandFile1,
    .File#pushCommandFile2 {
      opacity: 1;
      transition: all 1s 1s;
      transform: translate(550px, -20px) scale(0.4);
    }
    #pullCommandFile1,
    #pullCommandFile2 {
      opacity: 1;
    }
  }
}
