@import "partials/vars";
.FileWithText {
  font-size: 0.5rem;
  p {
    margin-bottom: 0;
  }
  pre {
    margin-top: 0;
    border: 1px solid #000;
    padding: 0.5rem;
  }
}
circle.commit {
  fill: white;
  stroke: #000;
}
[data-parentstate="resetCheckoutScene"] {
  #workingcopy,
  #stagingarea,
  #localrepository {
    transition: all 0.5s;
  }
  &[data-substate="opening"] {
    #workingcopy {
      transform: translateX(-40px);
    }
    #stagingarea {
      transform: translateX(-175px);
    }
    #localrepository {
      transform: translateX(-300px);
    }
    [id^="cssFile"],
    [id^="htmlFile"] {
      opacity: 0;
    }
  }
  &[data-substate="spreadOut"] {
    [id^="cssFile"],
    [id^="htmlFile"] {
      opacity: 0;
    }
  }
  &[data-substate="firstAddCommand"] {
    #cssFile2 {
      transition: all 2s;
      transform: translate(380px, 0);
    }
    #htmlFile2 {
      transition: all 2s;
      transform: translate(380px, 0px);
    }
  }
  &[data-substate="firstCommitCommand"] {
    .commit {
      transform: translate(-380px, 40px);
      transition: all 1s;
      transform: translate(0, 0);
    }
  }
}
//250, 500
